/*this is contain code for in-general-all styles*/

#backdrop {
    background-color: black;
    height: 100px;
    width: 100px;
}

#holiday_name_plate {
    border: 2px solid black;
    color: gold;
    height: 25px;
    width: 90px;
}

#holiday_name {
    border: 2px solid black;
    color: black;
    height: 15px;
}

#holiday_tagline {
    border: 2px solid black;
    color: black;
    height: 9px;
}

#main_decor_plate {
    border: solid 2px cyan;
    height: 200px;
    width: 100px;
}

.main_decor {
    border: solid 2px yellow;
    height: 50px;
    width: 50px;
}

#md1 {
    background-color: violet;
}

#md2 {
    background-color: aquamarine;
}

#md3 {
    background-color: chartreuse;
}

#md4 {
    background-color: deepskyblue;
}

#md5 {
    background-color: hotpink;
}

#aux_decor_plate {
    border: solid 2px maroon;
    height: 75px;
    width: 80px;
}

#ad1 {
    border: 2px solid black;
    color: purple;
    height: 30px;
    width: 30px;
}
